.buttonStyle{
  width: 100px;
  height: 40px;
  background-color: rgba(43, 62, 170, 0.692);
  cursor: pointer;
  color: white;
  border-radius: 15px;
  border-color: rgba(12, 16, 240, 0.973);
  border-style: solid;
}
